.nav-link {
  color: $color-gray;
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;

  a {
    color: $color-gray;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    -webkit-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
    -o-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
    transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;

    &:hover {
      border-bottom: solid 1.5px $color-gray;
    }
  }
}

#brand-name {
  color: $color-primary;
}

/* ----------------------------INTRODUCTION------------------- */
.intro-feature {
  color: $color-white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-detail {
  h1 {
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    animation: moveInLeft 2s ease-out;
  }
  p {
    color: $color-gray;
    font-size: 14px;
    letter-spacing: 1px;
    animation: moveInRight 2s ease-out;
  }
}
