$color-black: #000;
$color-gray: #bdbdbd;
$color-gray-light: #eee;
$color-primary: #aed581;
$color-primary-dark: #6ea034;
$color-white: #fff;
$color-red: #f4511e;
$color-box-coupon: #c6574ce3;
$color-box-delivery: #ffb300;
$color-box-gift: #7e57c2;
